<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div class="header-nav">
      <a href="/" class="headline"><span>Bookers</span></a>
      <nav class="nav-list">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Home', new_book_path %><!-- 修正必要 -->
          </li>
          <li>
            <%= link_to 'Users', users_show_path %><!-- 修正必要 -->
          </li>
          <li>
            <%= link_to 'Books', books_path %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
      </nav><!-- /.nav-list -->
    </div><!-- /.header-nav -->

    <div class="user-info">
      <h2>User info</h2>
    </div>
    <table class="user-info-table">
      <tbody>
        <tr>
          <th>name</th>
          <th>introduction</th>
        </tr>
      </tbody>
    </table>
    <div class="user-info-edit">
    </div>

        <% else %>
        <div class="header-nav">
          <nav class="nav-list">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <%= link_to "About", about_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li>
              <%= link_to "Log in", new_user_session_path %>
            </li>
          </nav><!-- /.nav-list -->
        </div><!-- /.header-nav -->
        <% end %>
  </header>
  <%= yield %>

  <footer>
    <p>CopyRight Infratop.inc</p>
  </footer>
  </body>
</html>